<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="ui inverted link list">
            {%- include social.html -%}
        </div>
      </div>
      <div class="three wide column">
        {%- if site.title -%}
        <h4 class="ui inverted header">{{ site.title | escape }}</h4>
        {%- endif -%}
        {%- if site.author -%}
        <p>{{ site.author | escape }}</p>
        {%- endif -%}
        {%- if site.description -%}
        <p>{{- site.description | escape -}}</p>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
