<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">first header</h3>
        <p>content content content content content content content content content content content content </p>
        <h3 class="ui header">second header</h3>
        <p>content content content content content content content content content content content content </p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/images/ruby.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button" href="#">huge button</a>
      </div>
    </div>
  </div>
</div>
